__pycache__/
ui_src/
mk1/
src/main/python/final.png
data/readme/wc_sw.xcf
data/readme/wc_sw.png
data/readme/wc_nsw.png
data/readme/cstm_ani.xcf
data/readme/wa_export.xcf
data/readme/wa_export.psd
data/readme/wc_1.png
data/readme/wc_2.png
data/readme/wc_sws.psd

.vscode